* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffc947;
}

h1 {
  text-align: center;
  background-color: #0a1931;
  margin: auto;
  padding: 0.4em;
}

body {
  padding: 0;
  margin: 0;
  background-color: #185adb;
}

.keys {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 30vh auto;
}

.key {
  display: flex;
  flex-direction: column;
  background-color: #0a1931;
  color: white;
  padding: 0.4em;
  align-items: center;
  font-size: 1.25rem;
  cursor: grab;
  border-radius: 6px;
  transition: all 0.08s;
}

.key span {
  color: #ffc947;
}

.active {
  border: 3px solid #ffc947;
  transform: scale(1.1);
}
